Prepare vector database.json
{
  "name": "Prepare vector database",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".txt",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        688,
        -240
      ],
      "id": "cfa85659-360a-4fe2-89bc-18c06ffb97d6",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        928,
        -240
      ],
      "id": "7b729538-8024-4021-84fa-540f00a909e7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1488,
        -64
      ],
      "id": "00c7c1d6-9269-4049-85f0-54f32cb6922c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "bangla-novel-index",
          "mode": "list",
          "cachedResultName": "bangla-novel-index"
        },
        "embeddingBatchSize": 15,
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1344,
        -240
      ],
      "id": "8b08152c-fda3-4c38-ae3b-814dc7008ab2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "K4n6MH37NlcD1fkn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.data\nconst chunkSize = 500;\nconst chunkOverlap = 50;\nconst chunks = [];\n\n\nfor (let i = 0; i < text.length; i += chunkSize - chunkOverlap) {\n    const chunk = text.substring(i, i + chunkSize);\n    chunks.push({ json: { chunk: chunk } });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -240
      ],
      "id": "3878ec19-623f-4235-ac1f-007838334aae",
      "name": "Chunking"
    },
    {
      "parameters": {
        "modelName": "intfloat/multilingual-e5-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1296,
        -64
      ],
      "id": "b356853b-26b8-4fe8-aa12-1ede094fa3ff",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "FdbstnJp4t70ZIcs",
          "name": "HuggingFaceApi account 2"
        }
      }
    }
  ],
  "pinData": {
    "Pinecone Vector Store": [
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 12
              }
            }
          },
          "pageContent": "বইয়ের নাম:বাংলা ১ম পত্র\r\nআলোচ্য বিষয় শিরোনাম: অপরিচিতা\r\n\r\n------------\r\n\r\nপাঠ পরিচিতি\r\n\r\n“অপরিচিতা” প্রথম প্রকাশিত হয় প্রমথ চৌধুরী সম্পাদিত মাসিক 'সবুজপত্র' পত্রিকার ১৩২১ বঙ্গাব্দের\r\n(১৯১৪) কার্তিক সংখ্যায়। এটি প্রথম গ্রন্থভুক্ত হয় রবীন্দ্রগল্পের সংকলন 'গল্পসপ্তক'-এ এবং পরে, 'গল্পগুচ্ছ'\r\nতৃতীয় খণ্ডে (১৯২৭)। \"অপরিচিতা” গল্পে অপরিচিতা বিশেষণের আড়ালে যে বলিষ্ঠ ব্যক্তিত্বের অধিকারী\r\nনারীর কাহিনি বর্ণিত হয়েছে, তার নাম কল্যাণী। অমানবিক যৌতুক প্রথার নির্মম বলি হয়েছে এমন নারীদের\r\nগল্প ইতঃপূর্বে রচনা কর"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 6
              }
            }
          },
          "pageContent": "র্মম বলি হয়েছে এমন নারীদের\r\nগল্প ইতঃপূর্বে রচনা করেছিলেন রবীন্দ্রনাথ। কিন্তু এই গল্পেই প্রথম যৌতুক প্রথার বিরুদ্ধে নারী-পুরুষের\r\nসম্মিলিত প্রতিরোধের কথকতা শোনালেন তিনি। এ গল্পে পিতা শম্ভুনাথ সেন এবং কন্যা কল্যাণীর স্বতন্ত্রবীক্ষা ও\r\nআচরণে সমাজে গেড়ে-বসা ঘৃণ্য যৌতুক প্রথা প্রতিরোধের সম্মুখীন হয়েছে। পিতার বলিষ্ঠ প্রতিরোধ এবং\r\nকল্যাণীর দেশচেতনায় ঋদ্ধ ব্যক্তিত্বের জাগরণ ও তার অভিব্যক্তিতে গল্পটি স্বার্থক। “অপরিচিতা” উত্তম\r\nপুরুষের জবানিতে লেখা গল্প। গল্পের কথক অনুপম বিশ শতকের দ্বিতীয় দশকের যুদ্ধসংলগ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 6
              }
            }
          },
          "pageContent": "গল্পের কথক অনুপম বিশ শতকের দ্বিতীয় দশকের যুদ্ধসংলগ্ন সময়ের সেই\r\nবাঙালি যুবক, যে বিশ্ববিদ্যালয়ের উচ্চতর উপাধি অর্জন করেও ব্যক্তিত্বরহিত, পরিবারতন্ত্রের কাছে অসহায়\r\nপুতুলমাত্র। তাকে দেখলে আজো মনে হয়, সে যেন মায়ের কোলসংলগ্ন শিশুমাত্র। তারই বিয়ে উপলক্ষ্যে যৌতুক\r\nনিয়ে নারীর চরম অবমাননাকালে শম্ভুনাথ সেনের কন্যা-সম্প্রদানে অসম্মতি গল্পটির শীর্ষ মুহূর্ত। অনুপম নিজের\r\nগল্প বলতে গিয়ে ব্যাঙ্গার্থে জানিয়ে দিয়েছে সেই অঘটন সংঘটনের কথাটি। বিয়ের লগ্ন যখন প্রস্তুত তখন কন্যার\r\nলগ্নভ্রষ্ট হওয়ার লৌকিকতাকে অগ্রা"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 6
              }
            }
          },
          "pageContent": "্তুত তখন কন্যার\r\nলগ্নভ্রষ্ট হওয়ার লৌকিকতাকে অগ্রাহ্য করে শম্ভুনাথ সেনের নির্বিকার অথচ বলিষ্ঠ প্রত্যাখ্যান নতুন এক সময়ের\r\nআশু আবির্ভাবকেই সংকেতবহ করে তুলেছে। কর্মীর ভূমিকায় বলিষ্ঠ ব্যক্তিত্বের জাগরণের মধ্য দিয়ে গল্পের\r\nশেষাংশে কল্যাণীর শুচিশুভ্র আত্মপ্রকাশও ভবিষ্যতের নতুন নারীর আগমনীর ইঙ্গিতে পরিসমাপ্ত। 'অপরিচিতা'\r\nমনস্তাপে ভেঙেপড়া এক ব্যক্তিত্বহীন যুবকের স্বীকারোক্তির গল্প, তার পাপস্খালনের অকপট কথামালা।\r\nঅনুপমের আত্মবিবৃতির সূত্র ধরেই গল্পের নারী কল্যাণী অসামান্য হয়ে উঠেছে। গল্পটিতে পুরুষতন্ত্"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 12
              }
            }
          },
          "pageContent": "রী কল্যাণী অসামান্য হয়ে উঠেছে। গল্পটিতে পুরুষতন্ত্রের\r\nঅমানবিকতার স্ফুরণ যেমনঘটেছে, তেমনি একই সঙ্গে পুরুষের ভাষ্যে নারীর প্রশস্তিও কীর্তিত হয়েছে।\r\n\r\n\r\n------------\r\n\r\nমূল গল্প\r\n\r\nআজ আমার বয়স সাতাশ মাত্র। এ জীবনটা না দৈর্ঘ্যের হিসাবে বড়, না গুনের হিসাবে। তবু ইহার একটু বিশেষ\r\nমূল্য আছে। ইহা সেই ফুলের মতো যাহার বুকের উপরে ভ্রমর আসিয়া বসিয়াছিল, এবং সেই পদক্ষেপের ইতিহাস\r\nতাহার জীবনের মাঝখানেফলের মতো গুটি ধরিয়া উঠিয়াছে।\r\nসেই ইতিহাসটুকু আকারে ছোটো, তাহাকে ছোটো করিয়াই লিখিব। ছোটোকে যাঁহারা সামান্য বলিয়"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 10
              }
            }
          },
          "pageContent": "াকে ছোটো করিয়াই লিখিব। ছোটোকে যাঁহারা সামান্য বলিয়া ভুল করেন\r\nনা তাঁহারা ইহার রস বুঝিবেন। কলেজে যতগুলো পরীক্ষা পাশ করিবার সব আমি ঢুকাইয়াছি। ছেলেবেলায়\r\nআমার সুন্দর চেহারা লইয়া পণ্ডিতমশায়\r\nআমাকে শিমুল ফুল ও মাকাল ফলের সহিত\r\nতুলনা করিয়া, বিদ্রুপ করিবার সুযোগ\r\nপাইয়াছিলেন। ইহাতে তখন বড় লজ্জা পাইতাম;\r\nকিন্তু বয়স হইয়া এ কথা ভাবিয়াছি, যদি\r\nজন্মান্তর থাকে তবে আমার মুখে সুরূপ এবং\r\nপণ্ডিতমশায়দের মুখে বিদ্রুপ আবার যেন অমনি করিইয়াই প্রকাশ পায়। আমার পিতা এক কালে গরিব ছিলেন।\r\nওকালতি করিয়া তিনি প্রচুর টাকা রোজ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 8
              }
            }
          },
          "pageContent": "ালে গরিব ছিলেন।\r\nওকালতি করিয়া তিনি প্রচুর টাকা রোজগার করিয়াছেন, ভোগ করিবার সময় নিমেষমাত্র পান নাই। মৃত্যুতে\r\nতিনি যে হাঁফ ছাড়িলেন সেই তাঁর প্রথম অবকাশ।\r\nআমার তখন বয়স অল্প। মার হাতেই আমি মানুষ। মা গরিবের ঘরের মেয়ে; তাই, আমরা যে ধনী এ কথা তিনিও\r\nভোলেন না, আমাকে ভুলিতে দেন না। শিশুকালে আমি কোলে কোলেই মানুষ-বোধ করি, সেইজন্য শেষ পর্যন্ত\r\nআমার পুরাপুরি বয়সই হইল না।\r\nআজও আমাকে দেখিলে মনে হইবে, আমি অন্নপূর্ণার কোলে গজাননের ছোটো ভাইটি।\r\nআমার আসল অভিভাবক আমার মামা। তিনি আমার চেয়ে বড়োজোর বছর ছয়েক বড়। কিন্"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 6
              }
            }
          },
          "pageContent": "আমার মামা। তিনি আমার চেয়ে বড়োজোর বছর ছয়েক বড়। কিন্তু ফল্গুর বালির\r\nমতো তিনি আমাদের সমস্ত সংসারটাকে নিজের অন্তরের মধ্যে শুষিয়া লইয়াছেন। তাঁহাকে না খুঁড়িয়া\r\nএখানকার এক গণ্ডুষও রস পাইবার জো নাই। এই কারণে কোনো-কিছুর জন্যই আমাকে কোনো ভাবনা\r\nভাবিতেই হয় না। কন্যার পিতা মাত্রেই স্বীকার করিবেন, আমি সৎপাত্র। তামাকটুকু পর্যন্ত খাই না। ভালোমানুষ\r\nহওয়ার কোনো ঝঞ্ঝাট নাই, তাই আমি নিতান্ত ভালোমানুষ। মাতার আদেশ মানিয়া চলিবার ক্ষমতা আমার\r\nআছে- বস্তুত, না মানিবার ক্ষমতা আমার নাই। অন্তঃপুরের শাসনে চলিবার মতো করিয়াই"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 6
              }
            }
          },
          "pageContent": "্ষমতা আমার নাই। অন্তঃপুরের শাসনে চলিবার মতো করিয়াই আমি প্রস্তুত হইয়াছি,\r\nযদি কোনো কন্যা স্বয়ম্বরা হন তবে এই সুলক্ষণটি স্মরণ রাখিবেন।\r\nঅনেক বড়ো ঘর হইতে আমার সম্বন্ধ আসিয়াছিল। কিন্তু মামা, যিনি পৃথিবীতে আমার ভাগ্যদেবতার প্রধান\r\nএজেন্ট, বিবাহ সম্বন্ধে তাঁর একটা বিশেষ মত ছিল। ধনীর কন্যা তাঁর পছন্দ নয়। আমাদের ঘরে যে মেয়ে\r\nআসিবে সে মাথা হেঁট করিয়া আসিবে, এই তিনি চান। অথচ টাকার প্রতি আসক্তি তাঁর অস্থিমজ্জায় জড়িত।\r\nতিনি এমন বেহাই চান যাহার টাকা নাই অথচ যে টাকা দিতে কসুর করিবে না। যাহোক শোষণ করা চলিবে"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 8
              }
            }
          },
          "pageContent": "যে টাকা দিতে কসুর করিবে না। যাহোক শোষণ করা চলিবে\r\nঅথচ বাড়িতে আসিলে গুড়গুড়ির পরিবর্তে বাঁধা হুঁকায় তামাক দিলে যাহার নালিশ খাটিবে না।\r\nআমার হরিশ কানপুরে কাজ করে। সে ছুটিতে কলিকাতায় আসিয়া আমার মন উতলা করিয়া দিল। সে বলিল,\r\n\"ওহে, মেয়ে যদি বল একটি খাসা মেয়ে আছে।\"\r\nকিছুদিন পূর্বেই এমএ পাশ করিয়াছি। সামনে যত দূর পর্যন্ত দৃষ্টি চলে ছুটি ধূ ধূ করিতেছে; পরীক্ষা নাই, উমেদরি\r\nনাই, চাকরি নাই; নিজের বিষয় দেখিবার চিন্তাও নাই, শিক্ষাও নাই, ইচ্ছাও নাই- থাকিবার মধ্যেও ভিতরে\r\nআছেন মা এবং বাহিরে আছেন মামা।\r\nএই অবকাশে"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 12
              }
            }
          },
          "pageContent": "েও ভিতরে\r\nআছেন মা এবং বাহিরে আছেন মামা।\r\nএই অবকাশের মরুভূমির মধ্যে আমার হৃদয়\r\nতখন বিশ্বব্যাপী নারীরূপেরমরীচিকা\r\nদেখিতেছিল- আকাশে তাহার দৃষ্টি, বাতাসে\r\nতাহার নিঃশ্বাস, তরুমর্মরে তাহার গোপন কথা।\r\nএমন সময় হরিশ আসিয়া বলিল, \"মেয়ে যদি\r\nবল, তবে-\"। আমার শরীর-মন বসন্তবাতাসে\r\nবকুলবনের নবপল্লবরাশির মতো কাঁপিতে কাঁপিতে আলোছায়া বুনিতে লাগিল। হরিশ মানুষটা ছিল রসিক, রস\r\nদিয়ে বর্ণনা করিবার শক্তিতে তাহার ছিল, আর আমার মন ছিল তৃষার্ত।\r\nআমি হরিশকে বলিলাম, “একবার মামার কাছে কথাটা পাড়িয়া দেখ।”\r\nহরিশ আসর জমাইতে অদ্বি"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "মার কাছে কথাটা পাড়িয়া দেখ।”\r\nহরিশ আসর জমাইতে অদ্বিতীয়। তাই সর্বত্রই তাহার খাতির। মামাও তাহাকে পাইলে ছাড়িতে চান না। কথাটা\r\nতাঁর বৈঠকে উঠিল। মেয়ের চেয়ে মেয়ের বাপের খবরটাই তাঁহার কাছে গুরুতর। বাপের অবস্থা তিনি যেমনটি\r\nচান তেমনি।\r\nএক কালে ইহাদের বংশে লক্ষ্মীর মঙ্গলঘট ভরা ছিল। এখন তাহা শূন্য বলিলেই হয়, অথচ তলায় সামান্য কিছু\r\nবাকি আছে। দেশে বংশমর্যাদা রাখিয়া চলা সহজ নয় বলিয়া ইনি পশ্চিমে গিয়া বাস করিতেছেন। সেখানে গরিব\r\nগৃহস্থের মতোই থাকেন। একটি মেয়ে ছাড়া তাঁর আর নাই। সুতরাং তাহারাই পশ্চাতে লক্ষ্মীর ঘট"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "ড়া তাঁর আর নাই। সুতরাং তাহারাই পশ্চাতে লক্ষ্মীর ঘটটি একেবারে\r\nউপুড় করিয়া দিতে দ্বিধা হইবে না।\r\nএসব ভালো কথা। কিন্তু, মেয়ের বয়স যে পনেরো, তাই শুনিয়া মামার মন ভার হইল। বংশে তো কোনো দোষ\r\nনাই? না, দোষ নাই- বাপ কোথাও তাঁর মেয়ের যোগ্য বর খুজিয়া পান না। একে তো বরের ঘাট মহার্ঘ, তাহার\r\nপরে ধুনুক-ভাঙা পণ, কাজেই বাপ কেবলই সবুর করিতেছেন- কিন্তু মেয়ের বয়স সবুর করিতেছে না।\r\nযাই হোক, হরিশের সরস রচনার গুণ আছে। মামার মন নরম হইল। বিবাহের ভূমিকা-অংশটা নির্বিঘ্নে সমাধা\r\nহইয়া গেল। কলিকাতার বাহিরে বাকি যে পৃথিবীটা আছ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "াধা\r\nহইয়া গেল। কলিকাতার বাহিরে বাকি যে পৃথিবীটা আছে সমস্তটাকেই মামা আন্ডামান দ্বীপের অন্তর্গত বলিয়া\r\nজানেন। জীবনে একবার বিশেষ কাজে তিনি কোন্নগর পর্যন্ত গিয়েছিলেন। মামা যদি মনু হইতেন তবে তিনি\r\nহাবড়ার পুল পার হওয়াটাকে তাঁহার সংহিতায় একেবারে নিষেধ করিয়া দিতেন। মনের মধ্যে ইচ্ছা ছিল, নিজের\r\nচোখে মেয়ে দেখিয়া আসিব। সাহস করিয়া প্রস্তাব করিতে পারিলাম না।\r\nকন্যাকে আশীর্বাদ করিবার জন্য যাহাকে পাঠানো হইল সে আমাদের বিনুদাদা, আমার পিসতুতো ভাই। তাহার\r\nমতো রুচি এবং দক্ষতার 'পরে আমি ষোলো-আনা নির্ভর করিতে পারি। ব"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 2
              }
            }
          },
          "pageContent": "এবং দক্ষতার 'পরে আমি ষোলো-আনা নির্ভর করিতে পারি। বিনুদা ফিরিয়া আসিয়া বলিলেন,\r\n\"মন্দ নয় হে! খাটি সোনা বটে!\" বিনুদাদার ভাষাটা অত্যন্ত আঁট। যেখানে আমরা বলি 'চমৎকার' সেখানে তিনি বলেন 'চলনসই'। অতএব বুঝিলাম, আমার ভাগ্যে প্রজাপতির সঙ্গে পঞ্চশরের কোনো বিরোধ নাই। বলা বাহুল্য, বিবাহ-উপলক্ষে কন্যাপক্ষকেই কলিকাতা আসিতে হইল। কন্যার পিতা শম্ভুনাথবাবু হরিশকে কত বিশ্বাস করেন তাহার প্রমাণ এই যে, বিবাহের তিন দিন পূর্বে তিনি আমাকে চক্ষে দেখেন এবং আশীর্বাদ করিয়া যান। বয়স তাঁর চল্লিশের কিছু এপারে বা ওপারে। চুল কাঁচা"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 2
              }
            }
          },
          "pageContent": "। বয়স তাঁর চল্লিশের কিছু এপারে বা ওপারে। চুল কাঁচা, গোঁফে পাক ধরিতে আরম্ভ করিয়াছে মাত্র। সুপুরুষ বটে। ভিড়ের মধ্যে দেখিলে সকলের আগে তাঁর উপরে চোখ পড়িবার মতো চেহারা।\r\nআশা করি আমাকে দেখিয়া তিনি খুশি হইয়াছিলেন। বোঝা শক্ত, কেননা তিনি বড়ই চুপচাপ। যে দুটি-একটি কথা বলেন যেন তাহাতে পুরা জোর দিয়া বলেন না। মামার মুখ তখন অনর্গল ছুটিতেছিল- ধনে মানে আমাদের স্থান যে শহরের কারও চেয়ে কম নয়, সেইটেকেই তিনি নানা প্রসঙ্গে প্রচার করিতেছিলেন। শম্ভুনাতবাবু এ কথায় একেবারে যোগই দিলেন না- কোনো ফাঁকে একটা বাহু বা হ্যাঁ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 2
              }
            }
          },
          "pageContent": "বারে যোগই দিলেন না- কোনো ফাঁকে একটা বাহু বা হ্যাঁ কিছুই শোনা গেল না। আমি হইলে দমিয়া যাইতাম, কিন্তু মামাকে দমানো শক্ত। তিনি শম্ভুনাথবাবুর চুপচাপ ভাব দেখিয়া ভাবিলেন, লোকটা নিতান্ত নির্জীব, একেবারে কোনো তেজ নাই। বেহাই-সম্পদায়ের আর যাই থাক, তেজ থাকাটা দোষের, অতএব মামা মনে মনে খুশি হইলেন। শম্ভুনাথবাবু যখন উঠিলেন তখন মামা সংক্ষেপে উপর হইতেই তাঁকে বিদায় করিলেন, গাড়িতে তুলিয়া দিতে গেলেন না।\r\nপণ সম্বন্ধে দুই পক্ষে পাকাপাকি কথা ঠিক হইয়া গিয়াছিল। মামা নিজেকে অসামান্য চতুর বলিয়াই অভিমান করিয়া থাকেন। কথাবা"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 1
              }
            }
          },
          "pageContent": "েকে অসামান্য চতুর বলিয়াই অভিমান করিয়া থাকেন। কথাবার্তায় কোথাও তিনি কিছু ফাঁক রাখেন নাই। টাকার অঙ্ক তো স্থির ছিলই, তারপরে গহনা কত ভরির এবং সোনা কত দরের হইবে সেও একেবারে বাঁধাবাঁধি হইয়া গিয়াছিল। আমি নিজে এসমস্ত কথার মধ্যে ছিলাম না; জানিতাম না দেনা-পাওনা কি স্থির হইল। মনে জানিতাম, এই স্থূল অংশটাও বিবাহের একটা প্রধান অংশ, এবং সে অংশের ভার যার উপরে তিনি এক কড়াও ঠকিবেন না। বস্তুত, আশ্চর্য পাকা লোক বলিয়া মামা আমাদের সমস্ত সংসারের প্রধান গর্বের সামগ্রী। যেখানে আমাদের কোনো সম্বন্ধ আছে সেখানে সর্বত্রই তিন"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 2
              }
            }
          },
          "pageContent": "যেখানে আমাদের কোনো সম্বন্ধ আছে সেখানে সর্বত্রই তিনি বুদ্ধির লড়াইয়ে জিতিবেন, এ একেবারে ধরা কথা, এই জন্য আমাদের অভাব না থাকিলেও এবং অন্য পক্ষের অভাব কঠিন হইলেও জিতিব, আমাদের সংসারের এই জেদ-ইহাতে যে বাঁচুক আর যে মরুক।\r\nগায়ে-হলুদ অসম্ভব রকম ধুম করিয়া গেল। বাহক এত গেল যে তাহার আদম-শুমারি করিতে হইলে কেরানি রাখিতে হয়। তাহাদিগকে বিদায় করিতে অপর পক্ষকে যে নাকাল হইতে হইবে, সেই কথা স্মরণ করিয়া মামার সঙ্গে মা একযোগে বিস্তর হাসিলেন। ব্যান্ড, বাঁশি, শখের কন্সর্ট প্রভৃতি যেখানে যতপ্রকার উচ্চ শব্দ আছে সমস্ত একস"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 3
              }
            }
          },
          "pageContent": "্ট প্রভৃতি যেখানে যতপ্রকার উচ্চ শব্দ আছে সমস্ত একসঙ্গে মিশাইয়া বর্বর কোলাহলের মত্ত হস্তী দ্বারা সংগীত সরস্বতীর পদ্মবন দলিত বিদলিত করিয়া আমি উঠিলাম। আংটিতে হারেতে জরি-জহরতে আমার শরীর যেন গহনার নিলামে চলিয়াছে বলিয়া বোধ হইল। তাঁহাদের ভাবি জামাইয়ের মূল্য কত সেটা যেন কতক পরিমাণে সর্বাঙ্গে স্পষ্ট করিয়া লিখিয়া ভাবী স্বশুরের সঙ্গে মোকাবিলা করিতে চলিয়াছিলাম।\r\nমামা বিবাহ-বাড়িতে ঢুকিয়া খুশি হইলেন না। একে তো উঠানটাতে বরযাত্রীদের জায়গা সংকুলান হওয়াই শক্ত,\r\nতাহার পরে সমস্ত আয়োজন নিতান্ত মধ্যম রকমের। ইহার পরে"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 6
              }
            }
          },
          "pageContent": "হার পরে সমস্ত আয়োজন নিতান্ত মধ্যম রকমের। ইহার পরে শম্ভুনাথবাবুর ব্যবহারটাও নেহাত ঠান্ডা। তাঁর\r\nবিনয়টা অজস্র নয়। মুখে তো কথাই নাই কোমরে চাদর বাঁধা, গলা ভাঙা, টাক-পড়া, মিশ-কালো এবং বিপুল-\r\nশরীর তাঁর একটি উকিল-বন্ধু যদি নিয়ত হাত জোড় করিয়ে মাথা হেলাইয়া, নম্রতার স্মিতহাস্যে ও গদগদ বচনে\r\nকন্সর্ট পাটির করতাল-বাজিয়ে হইতে শুরু করিয়া বরকর্তাদের প্রত্যেককে বার বার প্রচুররূপে অভিষিক্ত\r\nকরিয়া না দিতেন তবে গোড়াতেই এটা এসপার-ওসপার হইত।\r\nআমি সভায় বসিবার কিছুক্ষণ পরেই মামা শম্ভুনাথবাবুকে পাশের ঘরে ডাকিয়া লইয়া"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 11
              }
            }
          },
          "pageContent": "ণ পরেই মামা শম্ভুনাথবাবুকে পাশের ঘরে ডাকিয়া লইয়া গেলেন। কী কথা হইল\r\nজানি না, কিছুক্ষণ পরেই শম্ভুনাথবাবু আমাকে আসিইয়া বলিলেন, “বাবাজি, একবার এই দিকে আসতে\r\nহচ্ছে।\"\r\nব্যাপারখানা এই। সকলে না হউক, কিন্তু কোনো\r\nলক্ষ ছিল, তিনি কোনোমতেই কারও কাছে\r\nঠকিবেন না। তাঁর ভয় তাঁর বেহাই তাঁকে গহনায়\r\nফাঁকি দিতে পারেন-বিবাহাকার্য শেষ হইয়া গেলে\r\nসে ফাঁকির আর প্রতিকার চলিবে না। বাড়িভাড়া\r\nসওগাদ লোক-বিদায় প্রভৃতি সম্বন্ধে যেরকম\r\nটানাটানির পরিচয় পাওয়া গেছে তাহাতে মামা\r\nঠিক করিয়াছিলেন- দেওয়া-থোওয়া সম্বন্ধে এ লোকটির শু"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 2,
                "to": 9
              }
            }
          },
          "pageContent": "ঠিক করিয়াছিলেন- দেওয়া-থোওয়া সম্বন্ধে এ লোকটির শুধু মুখের কথার উপর ভর করা চলিবে না। সেইজন্য\r\nবাড়ির সেকরাকে সুদ্ধ সঙ্গেআনিয়াছিলেন। পাশের ঘরে গিয়া দেখিলাম, মামা এক তক্তপোশে এবং সেকরা\r\nতাহার দাঁড়িপাল্লা কষ্টিপাথর প্রভৃতি লইয়া মেঝেয় বসিয়া আছে।\r\nশম্ভুনাথবাবু আমাকে বলিলেন, “তোমার মামা বলিতেছেন বিবাহের কাজ শুরু হইবার আগেই তিনি কনের\r\nসমস্ত গহনা যাচাই করিয়া দেখিবেন, ইহাতে তুমি কি বল।”\r\nআমি মাথা হেঁট করিয়া চুপ করিয়া রহিলাম।\r\nমামা বলিলেন, \"ও আবার কী বলিবে। আমি যা বলিব তাই হইবে।\"\r\nশম্ভুনাথবাবু আমার দিকে চা"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 8
              }
            }
          },
          "pageContent": "আমি যা বলিব তাই হইবে।\"\r\nশম্ভুনাথবাবু আমার দিকে চাহিয়া কহিলেন, “সেই কথা তবে ঠিক? উনি যা বলিলেন তাই হইবে? এ সম্বন্ধে\r\nতোমার কিছুই বলিবার নাই?\r\nআমি একটু ঘাড়-নাড়ার ইঙ্গিতে জানাইলাম, এসব কথায় আমার সম্পূর্ণ অনধিকার।\r\n“আচ্ছা বাবা তবে বোসো, মেয়ের গা হইতে সমস্ত গহনা খুলিয়া আনিতেছি।” এই বলিয়া তিনি উঠিলেন।\r\nমামা বলিলেন, \"অনুপম এখানে কি করিবে। ও সভায় গিয়ে বসুক।\"\r\nশম্ভুনাথবাবু বলিলেন, “না, সভায় নয়, এখানেই বসিতে হইবে।”\r\nকিছুক্ষণ পরে তিনি একখানা গামছায় বাঁধা গহনা আনিয়া তক্তপোশের উপর মেলিয়া ধরিলেন। সমস্ত"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 9
              }
            }
          },
          "pageContent": "ধা গহনা আনিয়া তক্তপোশের উপর মেলিয়া ধরিলেন। সমস্তই তাঁহার\r\nপিতামহীদের আমলের গহনা- হাল ফ্যাশনের সূক্ষ্ম কাজ নয়- যেমন মোটা তেমনি ভারী।\r\nসেকরা গহনা হাতে তুলিয়া লইয়া বলিল, “এ আর দেখিব কী। ইহাতে খাদ নাই-এমন সোনা এখনকার দিনে\r\nব্যবহারই হয় না।”\r\nএই বলিয়া যে মকরমুখা মোটা একখানা বালায় একটু চাপ দিয়া দেখাইল তাহা বাঁকিয়া যায়।\r\nমামা তখনই নোটবইয়ে গহনাগুলির ফর্দ টুকিয়া লইলেন, পাছে যাহা দেখানো হইল তাহার কোনোটা কম পড়ে।\r\nহিসাব করিয়াদেখিলেন, গহনা যে পরিমাণ দিবার\r\nকথা এগুলি সংখ্যায়, দরে এবং ভারে অনেক\r\nবেশি। গহনাগু"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 10
              }
            }
          },
          "pageContent": "কথা এগুলি সংখ্যায়, দরে এবং ভারে অনেক\r\nবেশি। গহনাগুলির মধ্যে একজোড়া এয়ারিং ছিল।\r\nশম্ভুনাথ সেইটে সেকরার হাতে দিয়া বলিলেন,\r\n\"এইটে একবার পরখ করিয়া দেখো।”\r\nসেকরা কহিল, \"ইহা বিলাতি মাল, ইহাতে সোনার\r\nভাগ সামান্যই আছে।\"\r\nশম্ভুবাবু এয়ারিং জোড়া মামার হাতে দিয়া বলিলেন, “এটা আপনারাই রাখিয়া দিন।”\r\nমামা সেটা হাতে লইয়া দেখিলেন, এই এয়ারিং দিয়াই কন্যাকে তাঁহারা আশীর্বাদ করিয়াছিলেন।\r\nমামার মুখ লাল হইয়া উঠিল। দরিদ্র তাঁহাকে ঠকাইতে চাহিবে কিন্তু তিনি ঠকিবেন না\r\nএই আনন্দ-সম্ভোগ হইতে বঞ্চিত হইলেন এবং তাহার উপরেও ক"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 10
              }
            }
          },
          "pageContent": "ই আনন্দ-সম্ভোগ হইতে বঞ্চিত হইলেন এবং তাহার উপরেও কিছু উপরি-পাওনা জুটিল। অত্যন্ত মুখ ভার\r\nকরিয়া বলিলেন, “অনুপম, যাও, তুমি সভায় গিয়া\r\nবোসো গে।\"\r\nশম্ভুনাথবাবু বলিলেন, “না, এখন সভায় বসিতে\r\nহইবে না। চলুন, আগে আপনাদের খাওয়াইয়া\r\nদিই।\"\r\nমামা বলিলেন, \"সে কী কথা। লগ্ন-\"\r\nশম্ভুনাথবাবু বলিলেন, “সেজন্য কিছু ভাবিবেন না- এখন উঠুন।”\r\nলোকটি নেহাত ভালোমানুষ-ধরনের, কিন্তু ভিতরে বেশ একটু জোর আছে বলিয়া বোধ হইল। মামাকে উঠিতে\r\nহইল। বরযাত্রীদেরও আহার হইয়া গেল। আয়োজনের আড়ম্বর ছিল না। কিন্তু রান্না ভালো এবং সমস্ত বেশ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 9
              }
            }
          },
          "pageContent": "র আড়ম্বর ছিল না। কিন্তু রান্না ভালো এবং সমস্ত বেশ\r\nপরিষ্কার পরিচ্ছন্ন বলিয়া সকলেরই তৃপ্তি হইল।\r\nবরযাত্রীদের খাওয়া শেষ হইলে শম্ভুনাথবাবু আমাকে খাইতে বলিলেন। মামা বলিলেন, “সে কি কথা। বিবাহের\r\nপূর্বে বর খাইবে কেমন করিয়া।\"\r\nএ সম্বন্ধে মামার কোনো মতপ্রকাশকে তিনি সম্পূর্ণ উপেক্ষা করিয়া আমার দিকে চাহিয়া বলিলেন, তুমি কি বল।\r\nবসিয়া যাইতে দোষ কিছু আছে?”\r\nমূর্তিমতি মাতৃ-আজ্ঞা-স্বরূপে মামা-উপস্থিত, তাঁর বিরুদ্ধে চলা আমার পক্ষে অসম্ভব। আমি আহারে বসিতে\r\nপারিলাম না।\r\nতখন শম্ভুনাথবাবু বলিলেন, “আপনাদিগকে অনেক ক"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 10
              }
            }
          },
          "pageContent": "াম না।\r\nতখন শম্ভুনাথবাবু বলিলেন, “আপনাদিগকে অনেক কষ্ট দিয়াছি। আমরা ধনী নই, আপনাদের যোগ্য আয়োজন\r\nকরিতে পারি নাই, ক্ষমা করিবেন। রাত হইয়া গেছে, আর আপনাদের কষ্ট বাড়াইতে ইচ্ছা করি না। এখন তবে-\"\r\n\r\nমামা বলিলেন, \"তা, সভায় চলুন, আমরা তো প্রস্তুত আছি।\"\r\nশম্ভুনাথ বলিলেন, “তবে আপনাদের গাড়ি বলিয়া দিই?”\r\nমামা আশ্চর্য হইয়া বলিলেন, \"ঠাট্টা করিতেছেন নাকি।\"\r\nশম্ভুনাথ কহিলেন, “ঠাট্টা তো আপনিই করিয়া সারিয়াছেন। ঠাট্টার সম্পর্কটাকে স্থায়ী করিবার ইচ্ছা আমার\r\nনাই।\"\r\nমামা দুই চোখ এত বড়ো করিয়া মেলিয়া অবাক হইয়া রইলেন"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 2,
                "to": 11
              }
            }
          },
          "pageContent": "মামা দুই চোখ এত বড়ো করিয়া মেলিয়া অবাক হইয়া রইলেন।\r\nশম্ভুনাথ কহিলেন, “আমার কন্যার গহনা আমি চুরি করিব এ কথা যারা মনে করে তাদের হাতে আমি কন্যা\r\nদিতে পারি না।\r\nআমাকে একটি কথা বলাও তিনি আবশ্যক বোধ করিলেন না। কারণ, প্রমাণ হইয়া গেছে, আমি কেহই নই।\r\nতারপরে যা হইল সে আমি বলিতে ইচ্ছা করি না। ঝাড়লণ্ঠন ভাঙিয়া-চুরিয়া, জিনিসপত্র লণ্ডভণ্ড করিয়া,\r\nবরযাত্রের দল দক্ষযজ্ঞের পালা সারিয়া বাইর\r\nহইয়া গেল। বাড়ি ফিরিবার সময় ব্যান্ড রসনচৌকি\r\nও কন্সর্ট একসঙ্গে বাজিল না এবং অভ্রের\r\nঝাড়গুলো আকাশের তারার উপর আপনাদের\r\nকর্তব্"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 11
              }
            }
          },
          "pageContent": "ং অভ্রের\r\nঝাড়গুলো আকাশের তারার উপর আপনাদের\r\nকর্তব্যের বরাত দিয়া কোথায় যে মহানির্বাণ লাভ\r\nকরিল সন্ধান পাওয়া গেল না।\r\nবাড়ির সকলে তো রাগিয়া আগুন। কন্যার পিতার\r\nএত গুমর! কলি যে চারপোয়া হইয়া আসিল!\r\nসকলে বলিল, \"দেখি, মেয়ের বিয়ে দেন কেমন করিয়া।\" কিন্তু মেয়ের বিয়ে হইবে না এ ভয় যার মনে নাই\r\nতার শাস্তির উপায় কী।\r\nসমস্ত বাংলাদেশের মধ্যে আমিই একমাত্র পুরুষ যাহাকে কন্যার বাপ বিবাহের আসর হইতে নিজে ফিরাইয়া\r\nদিয়াছে। এত বড়ো সৎপাত্রের কপালে এত বড়ো কলঙ্কের দাগ কোন্ নষ্টগ্রহ এত আলো জ্বালাইয়া, বাজনা\r\nবাজাইয়া, সমারোহ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "নষ্টগ্রহ এত আলো জ্বালাইয়া, বাজনা\r\nবাজাইয়া, সমারোহ করিয়া আঁকিয়া দিল? বরযাত্রীরা এই বলিয়া কপাল চাপড়াইতে লাগিল যে, 'বিবাহ হইল\r\nনা অথচ আমাদের ফাঁকি দিয়া খাওয়াইয়া দিল-পাকযন্ত্রটাকে সমস্ত অন্নসুদ্ধ সেখানে টান মারিয়া ফেলিয়া\r\nদিয়া আসিতে পারিলে তবে আফসোস মিটিত।'\r\n'বিবাহের চুক্তিভঙ্গ ও মানহানির দাবিতে নালিশ করিব' বলিয়া মামা অত্যন্ত গোল করিয়া বেড়াইতে লাগিলেন।\r\nহিতৈষীরা বুঝাইয়া দিল, তাহা হইলে তামাশার যেটুকু বাকি আছে তাহা পুরা হইবে।\r\nবলা বাহুল্য, আমিও খুব রাগিয়াছিলাম। কোনো গতিকে শম্ভুনাথ বিষম জব্দ হইয়া আমাদ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "গিয়াছিলাম। কোনো গতিকে শম্ভুনাথ বিষম জব্দ হইয়া আমাদের পায়ে ধরিয়া\r\nআসিয়া পড়েন, গোঁফের রেখায় তা দিতে দিতে এইটেই কেবল কামনা করিতে লাগিলাম।\r\nকিন্তু, এই আক্রোশের কালো রঙের স্রোতের পাশাপাশি আর-একটা স্রোত বহিতেছিল যেটার রঙ একেবারেই\r\nকালো নয়। সমস্ত মন যে সেই অপরিচিতার পানে ছুটিয়া গিয়াছিল-এখনো যে তাহাকে কিছুতেই টানিয়া\r\nফিরাইতে পারি না। দেয়ালটকুর আড়ালে রহিয়া গেল গো। কপালে তার চন্দন আঁকা, গায়ে তার লাল শাড়ি,\r\nমুখে তার লজ্জার রক্তিমা, হৃদয়ের ভিতরে কী যে তা কেমন করিয়া বলিব।\r\nআমার কল্পলোকের কল্পলতাটি বসন্তের স"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 11
              }
            }
          },
          "pageContent": "মন করিয়া বলিব।\r\nআমার কল্পলোকের কল্পলতাটি বসন্তের সমস্ত\r\nফুলের ভার আমাকে নিবেদন করিয়া দিবার জন্য\r\nনত হইয়া পড়িয়াছিল। হাওয়া আসে, গন্ধ পাই,\r\nপাতার শব্দ শুনি- কেবল আর একটিমাত্র পা\r\nফেলার অপেক্ষা-এমন সময়ে সেই এক\r\nপদক্ষেপের দূরত্বটুকু এক মুহর্তে অসীম হইয়া\r\nউঠিল!\r\nএতদিন যে প্রতি সন্ধ্যায় আমি বিনুদাদার বাড়িতে\r\nগিয়া তাঁহাকে অস্থির করিয়া তুলিয়াছিলাম! বিনুদার বর্ণনার ভাষা অত্যন্ত সংকীর্ণ বলিয়াই তাঁর প্রত্যেক কথাটি\r\nস্ফুলিঙ্গের মতো আমার মনের মাঝখানে আগুন জ্বালিয়া দিয়াছিল। বুঝিয়াছিলাম মেয়েটির রূপ বড়ো আশ্চর"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 6
              }
            }
          },
          "pageContent": "লিয়া দিয়াছিল। বুঝিয়াছিলাম মেয়েটির রূপ বড়ো আশ্চর্য;\r\nকিন্তু না দেখিলাম তাহাকে চোখে, না দেখিলাম তার ছবি, সমস্তই অস্পষ্ট হইয়া রহিল। বাহিরে তো সে ধরা\r\nদিলই না, তাহাকে মনেও আনিতে পারিলাম না-এইজন্য মন সেদিনকার সেই বিবাহসভার দেয়ালটার বাহিরে\r\nভূতের মতো দীর্ঘনিশ্বাস ফেলিয়া বেড়াইতে লাগিল। হরিশের কাছে শুনিয়াছি, মেয়েটিকে আমার ফোটোগ্রাফ\r\nদেখানো হইয়াছিল। পছন্দ করিয়াছে বই-কি। না করিবার তো কোনো কারণ নাই। আমার মন বলে, সে ছবি\r\nতার কোনো-একটি বাক্সের মধ্যে লুকানো আছে। একলা ঘরে দরজা বন্ধ করিয়া এক- একদিন নিরালা"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "আছে। একলা ঘরে দরজা বন্ধ করিয়া এক- একদিন নিরালা\r\nদুপুরবেলায় সে কি সেটি খুলিয়া দেখে না? যখন ঝুঁকিয়া পড়িয়া দেখে তখন ছবিটির উপরে কি তার মুখের\r\nদুই ধার দিয়া এলোচুল আসিয়া পড়ে না? হঠাৎ বাহিরে কারও পায়ের শব্দ পাইলে সে কি তাড়াতাড়ি তার সুগন্ধ\r\nআঁচলের মধ্যে ছবিটিকে লুকাইয়া ফেলে না?\r\nদিন যায়। একটা বৎসর গেল। মামা তো লজ্জায় বিবাহসম্বন্ধের কথা তুলিতেই পারেন না। মার ইচ্ছা ছিল,\r\nআমার অপমানের কথা যখন সমাজের লোকে ভুলিয়া যাইবে তখন বিবাহের চেষ্টা দেখিবেন।\r\nএ দিকে আমি শুনিলাম সে মেয়ের নাকি ভালো পাত্র জুটিয়াছিল, কিন"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 6
              }
            }
          },
          "pageContent": "মি শুনিলাম সে মেয়ের নাকি ভালো পাত্র জুটিয়াছিল, কিন্তু সে পণ করিয়াছে বিবাহ করিবে না।\r\nশুনিয়া আমার মন পুলকের আবেশে ভরিয়া গেল। আমি কল্পনায় দেখিতে লাগিলাম, সে ভালো করিয়া খায় না;\r\nসন্ধ্যা হইয়া আসে, সে চুল বাঁধিতে ভুলিয়া যায়। তার বাপ তার মুখের পানে চান আর ভাবেন, “আমার মেয়ে\r\nদিনে দিনে এমন হইয়া যাইতেছে কেন।” হঠাৎ কোনোদিন তার ঘরে আসিয়া দেখেন, মেয়ের দুই চক্ষু জলে\r\nভরা। জিজ্ঞাসা করেন, “মা, তোর কী হইয়াছে বল্ আমাকে।” মেয়ে তাড়াতাড়ি চোখের জল মুছিয়া বলে, “কই,\r\nকিছুই তো হয় নি বাবা।\"বাপের এক মেয়ে যে-বড়ো আদরের ম"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 2,
                "to": 8
              }
            }
          },
          "pageContent": "কিছুই তো হয় নি বাবা।\"বাপের এক মেয়ে যে-বড়ো আদরের মেয়ে। যখন অনাবৃষ্টির দিনে ফুলের কুঁড়িটির\r\nমতো মেয়ে একেবারে বিমর্ষ হইয়া পড়িয়াছে তখন বাপের প্রাণে আর সহিল না। তখন অভিমান ভাসাইয়া দিয়া\r\nতিনি ছুটিয়া আসিলেন আমাদের দ্বারে।\r\nতার পরে? তার পরে মনের মধ্যে সেই যে কালো রঙের ধারাটা বহিতেছে সে যেন কালো সাপের মতো রূপ\r\nধরিয়া ফোঁস করিয়া উঠিল। সে বলিল, “বেশ তো, আর-একবার বিবাহের আসর সাজানো হোক, আলো\r\nজ্বলুক, দেশ-বিদেশের লোকের নিমন্ত্রণ হোক, তার পরে তুমি বরের টোপর পায়ে দলিয়া দলবল লইয়া সভা\r\nছাড়িয়া চলিয়া এসো।\" কিন্তু,"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 6
              }
            }
          },
          "pageContent": "ে দলিয়া দলবল লইয়া সভা\r\nছাড়িয়া চলিয়া এসো।\" কিন্তু, যে ধারাটি চোখের জলের মতো শুভ্র সে রাজহংসের রূপ ধরিয়া বলিল, \"যেমন\r\nকরিয়া আমি একদিন দময়ন্তীর পুষ্পবনে গিয়াছিলাম, তেমনি করিয়া আমাকে একবার উড়িয়া যাইতে দাও-আমি বিরহিণীর কানে কানে একবার সুখের খবরটা দিয়া আসি গে।” তার পরে? তার পরে দুঃখের রাত\r\nপোহাইল, নব-বর্ষার জল পড়িল, ম্লান ফুলটি মুখ তুলিল-এবারে সেই দেয়ালটার বাহিরে রহিল সমস্ত পৃথিবীর\r\nআর-সবাই, আর ভিতরে প্রবেশ করিল একটিমাত্র মানুষ। তার পরে? তার পরে আমার কথাটি ফুরালো।\r\nকিন্তু, কথা এমন করিয়া ফুরাইল না। যে"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 8
              }
            }
          },
          "pageContent": "কথাটি ফুরালো।\r\nকিন্তু, কথা এমন করিয়া ফুরাইল না। যেখানে আসিয়া তাহা অফুরান হইয়াছে সেখানকার বিবরণ একটুখানি\r\nবলিয়া আমার এ লেখা শেষ করিয়া দিই।\r\nমাকে লইয়া তীর্থে চলিয়াছিলাম। আমার উপরেই ভার ছিল। কারণ, মামা এবারেও হাবড়ার পুল পার হন\r\nনাই। রেলগাড়িতে ঘুমাইতেছিলাম। ঝাঁকানি খাইতে খাইতে মাথার মধ্যে নানাপ্রকার এলোমেলো স্বপ্নের ঝুমঝুমি\r\nবাজিতেছিল। হঠাৎ একটা কোন্ স্টেশনে জাগিয়া উঠিলাম। আলোতে অন্ধকারে মেশা সেও এক স্বপ্ন। কেবল\r\nআকাশের তারাগুলি চিরপরিচিত-আর সবই অজানা অস্পষ্ট; স্টেশনের দীপ-কয়টা খাড়া হইয়া দাঁড়াইয়া\r\nআ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 8
              }
            }
          },
          "pageContent": "া অস্পষ্ট; স্টেশনের দীপ-কয়টা খাড়া হইয়া দাঁড়াইয়া\r\nআলো ধরিয়া এই পৃথিবীটা যে কত অচেনা এবং যাহা চারি দিকে তাহা যে কতই বহু দূরে তাহাই দেখাইয়া\r\nদিতেছে। গাড়ির মধ্যে মা ঘুমাইতেছেন; আলোর নীচে সবুজ পর্দা টানা; তোরঙ্গ বাক্স জিনিসপত্র সমস্তই কে\r\nকার ঘাড়ে এলোমেলো হইয়া রহিয়াছে, তাহারা যেন স্বপ্নলোকের উলট-পালট আসবাব, সবুজ প্রদোষের\r\nমিট্রিটে আলোতে থাকা এবং না-থাকার মাঝখানে কেমন-একরকম হইয়া পড়িয়া আছে।\r\nএমন সময়ে সেই অদ্ভুত পথিবীর অদ্ভুত রাত্রে কে বলিয়া উঠিল, “শিঙ্গির চলে আয়, এই গাড়িতে\r\nজায়গা আছে।”\r\nমনে হইল, যেন গা"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 10
              }
            }
          },
          "pageContent": "ির চলে আয়, এই গাড়িতে\r\nজায়গা আছে।”\r\nমনে হইল, যেন গান শুনিলাম। বাঙালি মেয়ের গলায় বাংলা কথা যে কী মধুর তাহা এমনি করিয়া অসময়ে\r\nঅজায়গায় আচষ্কা শুনিলে তবে সম্পূর্ণ বুঝিতে\r\nপারা যায়। কিন্তু, এই গলাটিকে কেবলমাত্র মেয়ের\r\nগলা বলিয়া একটা শ্রেণীভুক্ত করিয়া দেওয়া চলে\r\nনা, এ কেবল একটি-মানুষের গলা; শুনিলেই মন\r\nবলিয়া ওঠে, চিরকাল গলার স্বর আমার কাছে\r\nবড়ো সত্য। রূপ জিনিসটি বড়ো কম নয়, কিন্তু মানুষের মধ্যে যাহা অন্তরতম এবং অনির্বচনীয়, আমার মনে হয়\r\nকণ্ঠস্বর যেন তারই চেহারা। আমি তাড়াতাড়ি গাড়ির জানলা খুলিয়া বাহিরে"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "রই চেহারা। আমি তাড়াতাড়ি গাড়ির জানলা খুলিয়া বাহিরে মুখ বাড়াইয়া দিলাম, কিছুই\r\nদেখিলাম না। প্ল্যাটফর্মের অন্ধকারে দাঁড়াইয়া গার্ড তাহার একচক্ষু লণ্ঠন নাড়িয়া দিল, গাড়ি চলিল; আমি\r\nজানলার কাছে বসিয়া রহিলাম। আমার চোখের সামনে কোনো মূর্তি ছিল না, কিন্তু হৃদয়ের মধ্যে আমি একটি\r\nহৃদয়ের রূপ দেখিতে লাগিলাম।\r\nসে যেন এই তারাময়ী রাত্রির মতো, আবৃত করিয়া ধরে কিন্তু তাহাকে ধরিতে পারা যায় না। ওগো সুর, অচেনা\r\nকণ্ঠের সুর, এক নিমেষে তুমি যে আমার চিরপরিচয়ের আসনটির উপরে আসিয়া বসিয়াছ। কী আশ্চর্য পরিপূর্ণ\r\nতুমি - চঞ্চল ক"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 8
              }
            }
          },
          "pageContent": "সিয়া বসিয়াছ। কী আশ্চর্য পরিপূর্ণ\r\nতুমি - চঞ্চল কালের ক্ষুব্ধ হৃদয়ের উপরে ফুলটির মতো ফুটিয়াছ, অথচ তার ঢেউ লাগিয়া একটি পাপড়িও\r\nটলে নাই, অপরিমেয় কোমলতায় এতটুকু দাগ পড়ে নাই।\r\nসে যেন এই তারাময়ী রাত্রির মতো, আবৃত করিয়া ধরে কিন্তু তাহাকে ধরিতে পারা যায় না। ওগো সুর, অচেনা\r\nকণ্ঠের সুর, এক নিমেষে তুমি যে আমার চিরপরিচয়ের আসনটির উপরে আসিয়া বসিয়াছ।\r\nকী আশ্চর্য পরিপূর্ণ তুমি চঞ্চল কালের ক্ষুব্ধ হৃদয়ের উপরে ফুলটির মতো ফুটিয়াছ, অথচ তার\r\nঢেউ লাগিয়া একটি পাপড়িও টলে নাই, অপরিমেয় কোমলতায় এতটুকু দাগ পড়ে নাই।\r\nগ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "িও টলে নাই, অপরিমেয় কোমলতায় এতটুকু দাগ পড়ে নাই।\r\nগাড়ি লোহার মৃদঙ্গে তাল দিতে দিতে চলিল; আমি মনের মধ্যে গান শুনিতে শুনিতে চলিলাম। তাহার একটিমাত্র\r\nধুয়া- “গাড়িতে জায়গা আছে।” আছে কি, জায়গা আছে কি। জায়গা যে পাওয়া যায় না, কেউ যে কাকেও চেনে\r\nনা। অথচ সেই না-চেনাটুকু যে কুয়াশামাত্র, সে যে মায়া, সেটা ছিন্ন হইলেই যে চেনার আর অন্ত নাই। ওগো\r\nসুধাময় সুর, যে হৃদয়ের অপরূপ রূপ তুমি, সে কি আমার চিরকালের চেনা নয়। জায়গা আছে আছে-শীঘ্র\r\nআসিতে ডাকিয়াছ, শীঘ্রই আসিয়াছি, এক নিমেষও দেরি করি নাই।\r\nপরদিন সকালে একটা বড়ো স্ট"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "এক নিমেষও দেরি করি নাই।\r\nপরদিন সকালে একটা বড়ো স্টেশনে গাড়ি বদল করিতে হইবে। আমাদের ফার্স্ট ক্লাসের টিকিট-মনে আশা\r\nছিল, ভিড় হইবে না। নামিয়া দেখি, প্ল্যাটফর্মে সাহেবদের আর্দালি-দল আসবাবপত্র লইয়া গাড়ির জন্য অপেক্ষা\r\nকরিতেছে। কোন এক ফৌজের বড়ো জেনারেল সাহেব ভ্রমণে বাহির হইয়াছেন। দুই-তিন মিনিট পরেই গাড়ি\r\nআসিল। বুঝিলাম, ফার্স্ট ক্লাসের আশা ত্যাগ করিতে হইবে। মাকে লইয়া কোন গাড়িতে উঠি সে এক বিষম\r\nভাবনায় পড়িলাম। সব গাড়িতেই ভিড়। দ্বারে দ্বারে উঁকি মারিয়া বেড়াইতে লাগিলাম। এমন সময় সেকেন্ড\r\nক্লাসের গাড়ি হইতে এ"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 11
              }
            }
          },
          "pageContent": "াইতে লাগিলাম। এমন সময় সেকেন্ড\r\nক্লাসের গাড়ি হইতে একটি মেয়ে আমার মাকে লক্ষ্য করিয়া বলিলেন, “আপনারা আমাদের গাড়িতে আসুন\r\nনা-এখানে জায়গা আছে।\"\r\nআমি তো চমকিয়া উঠিলাম। সেই আশ্চর্যমধুর\r\nকণ্ঠ এবং সেই গানেরই ধুয়া- \"জায়গা আছে।”\r\nক্ষণমাত্র বিলম্ব না করিয়া মাকে লইয়া গাড়িতে\r\nউঠিয়া পড়িলাম। জিনিসপত্র তুলিবার প্রায় সময়\r\nছিল না। আমার মতো অক্ষম দুনিয়ায় নাই।\r\nসেই মেয়েটিই কুলিদের হাত হইতে তাড়াতাড়ি\r\nচলন্ত গাড়িতে আমাদের বিছানাপত্র টানিয়া লইল। আমার একটা ফোটোগ্রাফ তুলিবার ক্যামেরা স্টেশনেই\r\nপড়িয়া রহিল - গ্রাহ্যই করিলাম"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "ার ক্যামেরা স্টেশনেই\r\nপড়িয়া রহিল - গ্রাহ্যই করিলাম না।\r\nতার পরে - কী লিখিব জানি না। আমার মনের মধ্যে একটি অখন্ড আনন্দের ছবি আছে তাহাকে কোথায় শুরু\r\nকরিব, কোথায় শেষ করিব? বসিয়া বসিয়া বাক্যের পর বাক্য যোজনা করিতে ইচ্ছা করে না। এবার সেই\r\nসুরটিকে চোখে দেখিলাম; তখনো তাহাকে সুর বলিয়াই মনে হইল। মায়ের মুখের দিকে চাহিলাম; দেখিলাম\r\nতাঁর চোখে পলক পড়িতেছে না। মেয়েটির বয়স ষোলো কি সতেরো হইবে, কিন্তু নবযৌবন ইহার দেহে মনে\r\nকোথাও যেন একটুও ভার চাপাইয়া দেয় নাই। ইহার গতি সহজ, দীপ্তি নির্মল, সৌন্দর্যের শুচিতা অপূর্ব,"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "গতি সহজ, দীপ্তি নির্মল, সৌন্দর্যের শুচিতা অপূর্ব, ইহার\r\nকোন জায়গায় কিছু জড়িমা নাই।\r\nআমি দেখিতেছি, বিস্তারিত করিয়া কিছু বলা আমার পক্ষে অসম্ভব। এমন-কি, সে যে কী রঙের কাপড় কেমন\r\nকরিয়া পরিয়াছিল তাহাও ঠিক করিয়া বলিতে পারিব না। এটা খুব সত্য যে, তার বেশে ভূষায় এমন কিছুই ছিল\r\nআমি তো তাড়াতাড়ি ব্যস্ত হইয়া দাঁড়াইয়া উঠিলাম। মেয়েটি হিন্দিতে বলিল, \"না, আমরা গাড়ি ছাড়িব না।”\r\nসে লোকটি রোখ করিয়া বলিল, \"না ছাড়িয়া উপায় নাই।”\r\nকিন্তু, মেয়েটির চলিষ্ণুতার কোনো লক্ষণ না দেখিয়া সে নামিয়া গিয়া ইংরেজ স্টেশন-মাস্টারকে"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "ণ না দেখিয়া সে নামিয়া গিয়া ইংরেজ স্টেশন-মাস্টারকে ডাকিয়া\r\nআনিল। সে আসিয়া আমাকে বলিল, “আমি দুঃখিত, কিন্তু-”\r\nশুনিয়া আমি 'কুলি কুলি' করিয়া ডাক ছাড়িতে লাগিলাম। মেয়েটি উঠিয়া দুই চক্ষে অগ্নিবর্ষণ করিয়া বলিল,\r\n“না, আপনি যাইতে পারিবেন না, যেমন আছেন বসিয়া থাকুন।”\r\nবলিয়া সে দ্বারের কাছে দাঁড়াইয়া স্টেশনমাস্টারকে ইংরেজি ভাষায় বলিল, \"এ গাড়ি আগে হইতে রিজার্ভ\r\nকরা, এ কথা মিথ্যা কথা।\" বলিয়া নাম লেখা টিকিটটি খুলিয়া প্ল্যাটফর্মে ছুঁড়িয়া ফেলিয়া দিল।\r\nবলিয়া সে দ্বারের কাছে দাঁড়াইয়া স্টেশনমাস্টারকে ইংরেজি ভাষা"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 10
              }
            }
          },
          "pageContent": "দ্বারের কাছে দাঁড়াইয়া স্টেশনমাস্টারকে ইংরেজি ভাষায় বলিল, \"এ গাড়ি আগে হইতে রিজার্ভ\r\nকরা, এ কথা মিথ্যা কথা।\" বলিয়া নাম লেখা টিকিটটি খুলিয়া প্ল্যাটফর্মে ছুঁড়িয়া ফেলিয়া দিল।\r\nবলিয়া সে দ্বারের কাছে দাঁড়াইয়া\r\nস্টেশনমাস্টারকে ইংরেজি ভাষায় বলিল, \"এ গাড়ি\r\nআগে হইতে রিজার্ভ করা, এ কথা মিথ্যা কথা।\"\r\nবলিয়া নাম লেখা টিকিটটি খুলিয়া প্ল্যাটফর্মে\r\nছুঁড়িয়া ফেলিয়া দিল।\r\nইতিমধ্যে আর্দালি-সমেত ইউনিফর্ম-পরা সাহেব\r\nRESERVEDERM BENGAL HALWA\r\nদ্বারের কাছে আসিয়া দাঁড়াইয়াছে। গাড়িতে সে তার আসবাব উঠাইবার জন্য আর্দালিকে প্"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 9
              }
            }
          },
          "pageContent": "াছে। গাড়িতে সে তার আসবাব উঠাইবার জন্য আর্দালিকে প্রথমে ইশারা\r\nকরিয়াছিল। তাহার পরে মেয়েটির মুখে তাকাইয়া, তার কথা শুনিয়া, ভাব দেখিয়া, স্টেশন-মাস্টারকে একটু\r\nস্পর্শ করিল এবং তাহাকে আড়ালে লইয়া গিয়া কী কথা হইল জানি না। দেখা গেল,\r\nগাড়ি ছাড়িবার সময় অতীত হইলেও আর-একটা\r\nগাড়ি জুড়িয়া তবে ট্রেন ছাড়িল।\r\nমেয়েটি তার দলবল লইয়া আবার একপত্তন চানা-\r\nমুঠ খাইতে শুরু করিল, আর আমি লজ্জায়\r\nজানলার বাহিরে মুখে বাড়াইয়া প্রকৃতির শোভা দেখিতে লাগিলাম।\r\nকানপুরে গাড়ি আসিয়া থামিল। মেয়েটি জিনিসপত্র বাঁধিয়া প্রস্তুত-স্টেশনে এক"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 10
              }
            }
          },
          "pageContent": "ামিল। মেয়েটি জিনিসপত্র বাঁধিয়া প্রস্তুত-স্টেশনে একটি হিন্দুস্থানি চাকর ছুটিয়া\r\nআসিয়া ইহাদিগকে নামাইবার উদ্যোগ করিতে লাগিল।\r\nমা তখন আর থাকিতে পারিলেন না। জিজ্ঞাসা করিলেন, \"তোমার নাম কী মা।\"\r\nমেয়েটি বলিল, \"আমার নাম কল্যাণী।”\r\nশুনিয়া মা এবং আমি দুজনেই চমকিয়া উঠিলাম।\r\n\"তোমার বাবা-\"\r\n\"তিনি এখানকার ডাক্তার, তাঁহার নাম শম্ভুনাথ সেন।\"\r\nতার পরেই সবাই নামিয়া গেল।\r\nমামার নিষেধ অমান্য করিয়া, মাতৃ-আজ্ঞা ঠেলিয়া, তার পরে আমি কানপুরে আসিয়াছি। কল্যাণীর বাপ এবং\r\nকল্যাণীর সঙ্গে দেখা হইয়াছে। হাত জোড় করিয়াছি, মাথা"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 10
              }
            }
          },
          "pageContent": "কল্যাণীর সঙ্গে দেখা হইয়াছে। হাত জোড় করিয়াছি, মাথা হেঁট করিয়াছি; শম্ভুনাথবাবুর হৃদয় গলিয়াছে।\r\nকল্যাণী বলে, \"আমি বিবাহ করিব না।\"\r\nআমি জিজ্ঞাসা করিলাম, “কেন।”\r\nসে বলিল, \"মাতৃ-আজ্ঞা।”\r\nকী সর্বনাশ। এ পক্ষেও মাতুল আছে নাকি।\r\nতার পরে বুঝিলাম, মাতৃভূমি আছে। সেই বিবাহ-ভাঙার পর হইতে কল্যাণী মেয়েদের শিক্ষার ব্রত গ্রহণ\r\nকরিয়াছে।\r\nকিন্তু, আমি আশা ছাড়িতে পারিলাম না। সেই সুরটি যে আমার হৃদয়ের মধ্যে আজও বাজিতেছে-সে যেন\r\nকোন ওপারের বাঁশি- আমার সংসারের বাহির হইতে আসিল সমস্ত সংসারের বাহিরে ডাক দিল। আর, সেই-\r\nযে"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 7
              }
            }
          },
          "pageContent": "তে আসিল সমস্ত সংসারের বাহিরে ডাক দিল। আর, সেই-\r\nযে রাত্রির অন্ধকারের মধ্যে আমার কানে আসিয়াছিল \"জায়গা আছে”, সে যে আমার চিরজীবনের গানের\r\nধুয়া হইয়া রহিল। তখন আমার বয়স ছিল তেইশ, এখন হইয়াছে সাতাশ। এখনো আশা ছাড়ি নাই, কিন্তু\r\nমাতুলকে ছাড়িয়াছি। নিতান্ত এক ছেলে বলিয়া মা আমাকে ছাড়িতে পারেন নাই।\r\nতোমরা মনে করিতেছ, আমি বিবাহের আশা করি? না, কোনো কালেই না। আমার মনে আছে, কেবল সেই এক\r\nরাত্রির অজানা কণ্ঠের মধুর সুরের আশা-জায়গা আছে। নিশ্চয়ই আছে। নইলে দাঁড়াব কোথায়। তাই বৎসরের\r\nপর বৎসর যায় আমি এইখানেই আছি।"
        }
      },
      {
        "json": {
          "metadata": {
            "source": "blob",
            "blobType": "application/json",
            "loc": {
              "lines": {
                "from": 1,
                "to": 4
              }
            }
          },
          "pageContent": "কোথায়। তাই বৎসরের\r\nপর বৎসর যায় আমি এইখানেই আছি। দেখা হয়, সেই কণ্ঠ শুনি, যখন সুবিধা পাই কিছু তার কাজ করিয়া দিই\r\n- আর মন বলে, এই তো জায়গা পাইয়াছি। ওগো অপরিচিতা, তোমার পরিচয়ের শেষ হইল না, শেষ হইবে না;\r\nকিন্তু ভাগ্য আমার ভালো, এই তো আমি জায়গা পাইয়াছি।"
        }
      }
    ]
  },
  "connections": {
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Chunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Chunking": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "27108aa0-8103-43f5-806c-8f7c965374e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4a8cdeca9e4ea797c4f6f70849bb31b897ea52a7ab3f3ffeba5800b6b80a812"
  },
  "id": "PtnzhcGeh65xTYf7",
  "tags": []
}